.trending{
	float:left;
	background-color: #333;
	margin-top:35px;
	padding-right:15px;
	height:100%;
	width:180px;
	
}
.trending_second{
	float:right;
	background-color: #333;
	padding-right:15px;
	margin-top:35px;
	width:180px;
	
}

.wall_movie{
    margin-top:20px;
	margin-left:230px;
	margin-right:230px;
	background-color:white;
	margin-bottom:20px;
	height:800px;
}

.screencast1{
	float:left;
	margin-left:50px;
	padding-right:10px;
	border-right:1px solid black;	
	
}
.myarticle
	{
	margin-top:20px;
	margin-bottom:100px;
    margin-left: 200px;
	margin-right: 50px;
	
}

.trending_image{
	padding-left:22px;
	padding-bottom:10px;
	width:150px;
	height:200px;
	
}


#headname{
	text-padding:10px;
	text-align:center;	
	color:white;
	word-wrap: break-word;
	
}
.image-link1:hover{
	border-style: outset;
	border-color:#e6b91e;
	border-width:2px;
}

